*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Merriweather', serif;
}
.container{
    align-content: center;
    margin: 0 auto;
}
.active{ 
    font-size: 2.8rem;
    color: rgb(156, 102, 67);
}
.landing-page{  
    background-image:linear-gradient(to bottom, rgba(0,0,0,.9), transparent),url(pic/2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav img{
    width: 4%;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 2%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    padding-top: 2.5%;
}  
nav ul li{
    margin-right: 5vw;
    list-style: none;

}

nav ul li a{
    color: rgb(232, 241, 241);   
    list-style: none;
    font-size: 2rem;

}
nav ul li a:hover{
    font-size: 2.8rem;
    color: burlywood;
}
.main-text{
    position: absolute;
    padding-top: 15%;
    padding-left: 10%;
}
.main-text h1{
    font-size: 9rem;
    color: rgb(246, 246, 246);
    filter: brightness(84%);
}
.coffee{
    font-size: 12rem;
    color: rgb(248, 248, 248);
    padding-left: 24%;
}
/* main part  */

main{
    width: 95%;
    margin:2% auto
}
main .head{
    text-align: center;
    padding-top: 2%;
}
main .head h1{
    font-size: 5rem;
}
main .text-area{
    width: 100%;
    padding-top: 3%;
    text-align: center;
    column-count: 2;
    overflow: hidden;
    display: inline-block;
}
main .text-area p{
    font-size: 2rem;
    text-align: center;
    padding-left:2vw;
    padding-bottom: 2vh;
    width: 45vw;
}
main .text-area iframe{
    margin-left: 4%;
}
main .grid{
    padding-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem
}
main .grid .item-grid img{
    width: 31vw;
    height: 50vh;
    border-radius: 20px;
}
main .grid .item-grid p{
    font-size: 1.4rem;
    padding: 2rem 1.4rem;
}
/* footer part  */
.social-media{
    padding-top: 3%;
    display: flex;
    justify-content: center;
}
.social-media a{
 list-style: none;
 margin-right: 2%;
 list-style-image: none;
}
.social-media a i{
    font-size: 3.5rem;
    color: darkgray;
}
.copy{
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    background-color: cadetblue;
    height: 3rem;
}

/* contact part */
main .form-map{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 5rem;
}
.new-letter{
    width: 40%;
    padding-left: 1%;
    padding-top: 4%;
    align-items: center;
}
.new-letter form{
padding-top: 3%;
}
.new-letter form input{
    width: 60%;
    border: none;
    border-bottom: 1px solid black;
    font-size: 3rem;
}
.new-letter form button{
    padding: 1rem;
    border-radius: 15px;
    color: black;
    font-size: 1.2rem;
    padding-right: 5%;
    margin-left: 50%;
    margin-top: 4%;
}
main .new-letter h2{
    font-size: 2rem;
    margin: 1.5%;
    color: gray;
}
main .new-letter span{
    font-size: 2.3rem;
    color: cadetblue;
    padding: 1.2rem;
}